{% extends 'base.html' %}

{% block title %}Acceuil{% endblock %}


{% block main %} 



<div class="container d-flex flex-column mb-2">
  
      <div class="row mb-2">
            <div class="col-3">
                  <div class="card text-bg-primary mb-2 mt-2 shadow-lg">
                        <div class="card-header text-white text-center text-uppercase fw-bolder" style="background-color:#5d3d36;">Artisans</div>
                        <div class="card-body">
                              <h1 class="card-title text-center text-secondary"><i class="fa-solid fa-id-card-clip" style="color:#FFD700;"></i>&nbsp;&nbsp;&nbsp;&nbsp; {{artisants}} </h1>
                        </div>
                  </div>
            </div>
            <div class="col-3">
                  <div class="card text-bg-primary mb-2 mt-2 shadow-lg">
                        <div class="card-header text-white text-center text-uppercase fw-bolder" style="background-color:#5d3d36;">Exploitation</div>
                        <div class="card-body">
                              <h1 class="card-title text-center text-secondary"><i class="fa-solid fa-book-bookmark" style="color:#0b4291;"></i>&nbsp;&nbsp;&nbsp;&nbsp; {{collecteurs}} </h1>
                        </div>
                  </div>
            </div>
            <div class="col-3">
                  <div class="card text-bg-primary mb-2 mt-2 shadow-lg">
                        <div class="card-header text-white text-center text-uppercase fw-bolder" style="background-color:#5d3d36;">Collecteur</div>
                        <div class="card-body">
                              <h1 class="card-title text-center text-secondary"><i class="fa-solid fa-book" style="color:#0b4291;"></i>&nbsp;&nbsp;&nbsp;&nbsp;  {{collecteurs}} </h1>
                        </div>
                  </div>
            </div>
            <div class="col-3">
                  <div class="card text-bg-primary mb-2 mt-2 shadow-lg">
                        <div class="card-header text-white text-center text-uppercase fw-bolder" style="background-color:#5d3d36;">Incident</div>
                        <div class="card-body">
                              <h1 class="card-title text-center text-secondary"><i class="fa-solid fa-person-falling text-danger"></i>&nbsp;&nbsp;&nbsp;&nbsp; {{incidents}} </h1>
                        </div>
                  </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="ms-1">
                <form method="get" action="{% url 'home' %}">
                        <label for="" class="form-label font-italic font-weight-bold text-success">du</label>
                        <input type="date" value="{{date_depart}}"name="date_depart" id="date_depart" class="text-success font-italic font-weight-bold" required>
                        <label for="" class="form-label font-italic font-weight-bold text-success">au</label>
                        <input type="date" value="{{date_arrive}}" name="date_arrive" id="date_arrive" class="text-success font-italic font-weight-bold" required>
                        &nbsp; &nbsp;
                        <select name="type_rapport" id="type_rapport" required>
                        <option value="">--Type de rapport--</option>
                        <option value="accident">Accident</option>
                        <option value="incident">Incident</option>
                        </select>
                        <button type="submit" id="submit"><i class="fa fa-search"></i></button>
                        &nbsp;  &nbsp;
                        <a href="{% url 'home' %}?reset"><i class="fa fa-refresh"></i></a>
                        &nbsp;  &nbsp;
                        <a href="" id="export_image"><i class="fa fa-file-image"></i></a>
                    
                 </form>
               
        </div>

      <div class="row ms-2" id="fig">
            {% if chart %}
                  <img src="data:image/png;base64, {{chart|safe}}" id="accident">
            {% endif %}
      </div>
</div>


  
 
<script>
      document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("export_image").addEventListener("click", function() {
          var chartImage = document.getElementById("accident");
    
          if (chartImage) {
            var downloadLink = document.createElement("a");
            downloadLink.href = chartImage.src;
            downloadLink.download = "chart_image.png";
            downloadLink.click();
          }
        });
      });
    </script>
    













  

{% for message in messages %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if message.tags == 'error' %}
    <script>
        var m = "{{ message }}";
          swal("Refusé !", m, "error")
    </script>
          {% elif message.tags == 'success' %}
    <script>
          var m = "{{ message }}";
          swal("success !", m, "success")
    </script>

    {% elif message.tags == 'warning' %}
    <script>
          var m = "{{ message }}";
          swal("", m, "warning")
    </script>
{% endif %}   
{% endfor%}

{% endblock main %}





