{% extends "base1.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
    <style xmlns="http://www.w3.org/1999/html"></style>
{% endblock extra_css %}
{% block page_title %}

{% endblock page_title%}

{% block content %}
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'bunsess:dashboard' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">message</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="alert alert-danger" style="display: none;"></div>    
        <form method="post" id="login" action="{% url 'bunsess:messages' %}">
            {% csrf_token %}
            <H4 class="text-xl-center text-info text-bold mb-4">Entrez un numéro de téléphone puis cliquez sur Ajouter le numero pour ajouter à la liste d'envois</H4>
            <input id="phone" type="tel" name="phone" />
            <input type="button" class="btn btn-primary" value="Ajouter le numero" onclick="addNumber()" />
            <button type="button" class="btn btn-danger" onclick="clearNumbers()">Effacer</button>
            <div class="form-group">
              <label for="exampleFormControlInput1">Téléphones</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="numbers" readonly></textarea>
            </div>
                     
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Message</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="datas"></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </form>     
           
    </div>


    {% for message in messages %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% if message.tags == 'error' %}
        <script>
            var m = "{{ message }}";
              swal("Refusé !", m, "error");
        </script>
              {% elif message.tags == 'success' %};
        <script>
              var m = "{{ message }}";
              swal("success !", m, "success");
        </script>
    {% endif %}   
    {% endfor%}


  
    <script>
        const phoneInputField = document.querySelector("#phone");

        const phoneInput = window.intlTelInput(phoneInputField, {
            initialCountry: "auto",
            geoIpLookup: getIp,
            preferredCountries: ["ci", "ml", "ng"],
            utilsScript:
              "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
          });
          



        const info = document.querySelector(".alert-danger");

        function clearNumbers() {
            const numbersTextArea = document.querySelector('textarea[name="numbers"]');
            // Effacer le contenu de la zone de texte
            numbersTextArea.value = "";  
        }
    

        function addNumber() {
            const phoneNumber = phoneInput.getNumber();
            const isValid = phoneInput.isValidNumber();  
        
            if (isValid) {
                const numbersTextArea = document.querySelector('textarea[name="numbers"]');
                const selectedCountryData = phoneInput.getSelectedCountryData();
                const countryDialCode = selectedCountryData.dialCode;
        
                // Ajouter l'indicatif et le numéro à la zone de texte
                const formattedNumber = `${phoneNumber}`;
                numbersTextArea.value += formattedNumber + '\n';
        
                // Afficher le message "Numéro ajouté" pendant 2 secondes
                info.style.display = "";
                info.classList.remove("alert-danger");  // Supprimer la classe d'erreur
                info.classList.add("alert-success");    // Ajouter la classe de succès
                info.innerHTML = "Numéro ajouté";
        
                setTimeout(() => {
                    info.style.display = "none";
                }, 1000);
            } else {
                // Si le numéro n'est pas valide, afficher un message d'erreur
                info.style.display = "";
                info.classList.remove("alert-success");  // Supprimer la classe de succès
                info.classList.add("alert-danger");     // Ajouter la classe d'erreur
                info.innerHTML = "Le numéro de téléphone n'est pas valide pour le pays sélectionné.";
        
                // Masquer le message d'erreur après 2 secondes
                setTimeout(() => {
                    info.style.display = "none";
                }, 1000);
            }
        }

        
    /**
        function process(event) {
            // Supprimez ou commentez la ligne suivante pour permettre la soumission du formulaire
            // event.preventDefault();
    
            // Récupérer le formulaire
            const form = document.getElementById("login");
    
            // Récupérer les données du formulaire avec FormData
            const formData = new FormData(form);
    
            // Effectuer une requête POST asynchrone
            fetch("{% url 'bunsess:messages' %}", {
                method: "POST",
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                // Traiter la réponse si nécessaire
                console.log(data);
                if (data.success) {
                    // Afficher un message de succès si la requête est réussie
                    info.style.display = "";
                    info.classList.remove("alert-danger");
                    info.classList.add("alert-success");
                    info.innerHTML = data.message;
    
                    setTimeout(() => {
                        info.style.display = "none";
                    }, 1000);
                } else {
                    // Afficher un message d'erreur en cas d'échec
                    info.style.display = "";
                    info.classList.remove("alert-success");
                    info.classList.add("alert-danger");
                    info.innerHTML = data.message;
    
                    setTimeout(() => {
                        info.style.display = "none";
                    }, 1000);
                }
            })
            .catch(error => {
                console.error('Erreur lors de la requête:', error);
            });
        }
   **/
        

        function getIp(callback) {
            fetch('https://ipinfo.io/json?token=d276c0763f0eaa', { headers: { 'Accept': 'application/json' }})
              .then((resp) => resp.json())
              .catch(() => {
                return {
                  country: 'bf',
                };
              })
              .then((resp) => callback(resp.country));
           }
           


           $("#phone").select2({
            placeholder: "Téléphone",
            allowClear: true
           });


    </script>


    
{% endblock content %}





