{% extends 'base.html' %}



{% block add %}
<h4>


<a href="{% url 'add_site' %}" class="text-decoration-none fw-bold text-success">
    <i class="fa fa-plus-circle text-success"></i>
 </a>
 
</H4>
{% endblock add %}




{% block main %}



<table class="table table-striped shadow-lg p-3 mt-3">
    <thead>
      <tr class="bg-success">
        <th scope="col">Id</th>
        <th scope="col">Code du site</th>
        <th scope="col">Nom du site</th>
        <th scope="col">Commune</th>
        <th scope="col">Statut</th>
        <th scope="col">Popuation</th>
        <th scope="col">Nombre de puit actif</th>
        <th scope="col"><i class="fas fa-pen text-warning"></i></th>
        <th scope="col"> <i class="fas fa-trash text-danger"></i></th>
      </tr>
    </thead>
    <tbody>
        {% for result in page_obj %}
      <tr>
        <td>{{result.id }}</td>
        <td>{{result.code_site}}</td>
        <td>{{result.nom_site}}</td>
        <td>{{result.commune}}</td>
        <td>{{result.statut}}</td>
        <td>{{result.poulation}}</td>
        <td>{{result.nbre_puit_actif}}</td>
        <td>
          <a href="{% url 'edit_site' result.id %}" title="modifier">
            <i class="fas fa-pen text-warning"></i>
          </a>
        </td>
        <td>

          <a data-bs-toggle="modal" data-bs-target="#deletesiteModal{{result.id}}" title="supprimer">
            <i class="fas fa-trash text-danger"></i> 
          </a>

        </td>
      </tr>

      {% include 'technique/site/delete.html' %}
  
      
      {% endfor %}
    </tbody>
  </table>



  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; debut</a>
            <a href="?page={{ page_obj.previous_page_number }}">précédent</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">suivant</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">fin &raquo;</a>
        {% endif %}
    </span>
</div>






{% for message in messages %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if message.tags == 'error' %}
    <script>
        var m = "{{ message }}";
          swal("Refusé !", m, "error")
    </script>
          {% elif message.tags == 'success' %}
    <script>
          var m = "{{ message }}";
          swal("success !", m, "success")
    </script>
{% endif %}   
{% endfor%}


{% endblock main %}
