{% extends 'base1.html' %}

{% load i18n %}
{% load static %}
{% block extra_css %}
    <style xmlns="http://www.w3.org/1999/html">
    </style>
{% endblock %}
{% block page_title %}
Modifier norme
{% endblock %}

{% load crispy_forms_tags %}


{% comment %} {% load django_bootstrap5 %} {% endcomment %}


{% block content %}

<div class="container-fluid">
      
<form method="post" class="card p-3 mt-5 border border-primary" enctype="multipart/form-data">
   
   {% csrf_token %}

   {{ form|crispy }}


   <div class="mt-4" style="width: 100p%;">
      
      <input type="submit" name="submit" value="Modifier" class="btn btn-warning" id="submit-id-submit" />
      <a style= "font-size: 15px;" href="{% url 'norme' %}" type="button" class="btn btn-outline-danger mb-3 ms-2" style="wdith: 50px;" title="Close">
            <i class="fas fa-times"></i>
      </a>
   
</div>
</form>

</div>


{% endblock content %}


