{% extends 'base1.html' %}

{% load i18n %}
{% load static %}
{% block extra_css %}
    <style xmlns="http://www.w3.org/1999/html">
    </style>
    <link rel="stylesheet" type="text/css" href={% static "css/bootstrap.min.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "DataTables/datatables.min.css"%}/>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/brands.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock extra_css  %}

{% block page_title %}
 Form
{% endblock page_title %}



{% block content %}

<div class="page-breadcrumb">
  <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <a href="{% url 'add_norme' %}" class="text-decoration-none fw-bold text-success">
          <i class="fa fa-plus text-success"></i>
       </a>
          <div class="ml-auto text-right">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Library</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid">
    <table class="table table-striped shadow-lg p-3 mt-3">
        <thead>
          <tr class="bg-success">
            <th scope="col">Id</th>
            <th scope="col">Paramettre</th>
            <th scope="col">Valeur</th>
            <th scope="col">Unité</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
            {% for result in page_obj %}
          <tr>
            <td>{{ result.id }}</td>
            <td>{{result.paramettre}}</td>
            <td>{{result.valeur}}</td>
            <td>{{result.unites}}</td>
            <td>
              
              <a href="{% url 'edit_norme' result.id %}" title="modifier">
                <i class="fas fa-pen text-warning"></i> 
              </a>
              <a data-bs-toggle="modal" data-bs-target="#deleteModal{{result.id}}" title="supprimer">
                <i class="fas fa-trash text-danger"></i> 
              </a>

            </td>
          </tr>

          {% include 'environnement/norme/delete.html' %}
          {% endfor %}
        </tbody>
      </table>

    </div>


  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; debut</a>
            <a href="?page={{ page_obj.previous_page_number }}">précédent</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">suivant</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">fin &raquo;</a>
        {% endif %}
    </span>
</div>






{% for message in messages %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if message.tags == 'error' %}
    <script>
        var m = "{{ message }}";
          swal("Denied !", "Enter your data correctly.", "error")
    </script>
          {% elif message.tags == 'success' %}
    <script>
          var m = "{{ message }}";
          swal("Perfect !", m, "success")
    </script>
{% endif %}   
{% endfor%}


{% endblock content %}



{% block extra_script %}

<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
{% endblock extra_script %}