{% extends 'base.html' %}



{% block add %}

<a id="syncLink" href="" title="données du mobile" class="text-decoration-none fw-bold text-success">
  Synchronisation <i class="fa-solid fa-group-arrows-rotate"></i>
</a>


<a href="{% url 'add_guide' %}" class="text-decoration-none fw-bold text-success">
    Ajouter <i class="fa fa-plus text-success"></i>
 </a>

{% endblock add %}




{% block main %}



<table class="table table-striped shadow-lg p-3 mt-3">
    <thead>
      <tr class="bg-success">
        <th scope="col">Id</th>
        <th scope="col">Type de site</th>
        <th scope="col">Commune</th>
        <th scope="col">Village</th>
        <th scope="col">Nom du site</th>
        <th scope="col">Statut</th>
        <th scope="col">Autorité</th>
        <th scope="col">Nom et Prenom du Guide</th>
        <th scope="col">Date de la Visite</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
        {% for result in page_obj %}
      <tr>
        <td>{{result.id }}</td>
        <td>{{result.com_site}}</td>
        <td>{{result.commune}}</td>
        <td>{{result.village_site}}</td>
        <td>{{result.nom_site}}</td>
        <td>{{result.statut_site}}</td>
        <td>{{result.nom_prenom_autorite }}</td>
        <td>{{result.nom_prenom_enqueteur}}</td>
        <td>{{result.date_visite}}</td>
        <td>
          <a href="{% url 'edit_guide' result.id %}" type="button" class="btn btn-warning" title="modifier">
            <i class="fas fa-pen"></i>
          </a>
          <a href="{% url 'delete_guide'  result.id %}" type="button" class="btn btn-danger" title="supprimer">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>

      {% include 'technique/visite_activite/detail_guide.html' %}
      {% endfor %}
    </tbody>
  </table>



  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; debut</a>
            <a href="?page={{ page_obj.previous_page_number }}">précédent</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">suivant</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">fin &raquo;</a>
        {% endif %}
    </span>
</div>






{% for message in messages %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if message.tags == 'error' %}
    <script>
        var m = "{{ message }}";
          swal("Refuser !", "Enter your data correctly.", "error")
    </script>
          {% elif message.tags == 'success' %}
    <script>
          var m = "{{ message }}";
          swal("succèss !", m, "success")
    </script>
{% endif %}   
{% endfor%}


{% endblock main %}
