{% extends 'base.html' %}



{% block add %}



 <h4>

  <a id="syncLink" href="" title="données du mobile" class="text-decoration-none fw-bold text-success">
    <i class="fa-solid fa-group-arrows-rotate"></i>
  </a>
  
  
  <a href="{% url 'add_visite' %}" class="text-decoration-none fw-bold text-success">
       <i class="fa fa-plus text-success"></i>
   </a>
  
  </H4>


{% endblock add %}




{% block main %}



<table class="table table-striped shadow-lg p-3 mt-3">
    <thead>
      <tr class="bg-success">
        <th scope="col">Id</th>
        <th scope="col">BE</th>
        <th scope="col">Date de la visite</th>
        <th scope="col">Date de la mission</th>
        <th scope="col">Nombre Homme</th>
        <th scope="col">Nombre Femme</th>
        <th scope="col">Nombre Enfant</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
        {% for result in page_obj %}
      <tr>
        <td>{{result.id }}</td>
        <td>{{result.bureau}}</td>
        <td>{{result.date_visite}}</td>
        <td>{{result.date_miss}}</td>
        <td>{{result.nbr_hom}}</td>
        <td>{{result.nbr_fem}}</td>
        <td>{{result.nbr_enfant}}</td>
        <td>
          <a href="{% url 'edit_visite' result.id %}" title="modifier">
            <i class="fas fa-pen text-warning"></i>
          </a>
          <a href="{% url 'delete_visite'  result.id %}" title="supprimer">
            <i class="fas fa-trash text-danger"></i>
          </a>
        </td>
      </tr>

      {% include 'technique/visite_activite/detail_visite.html' %}
      {% endfor %}
    </tbody>
  </table>



  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; debut</a>
            <a href="?page={{ page_obj.previous_page_number }}">précédent</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">suivant</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">fin &raquo;</a>
        {% endif %}
    </span>
</div>






{% for message in messages %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if message.tags == 'error' %}
    <script>
        var m = "{{ message }}";
          swal("Refuser !", "Enter your data correctly.", "error")
    </script>
          {% elif message.tags == 'success' %}
    <script>
          var m = "{{ message }}";
          swal("succèss !", m, "success")
    </script>
{% endif %}   
{% endfor%}


{% endblock main %}
