{% extends "admin/change_list.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/custom_admin.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/commercial_style.css' %}" />

{% endblock %}

{% block content %}
<div id="tabbed-wrapper">
    <ul class="changeform-tabs">
        <li class="changeform-tabs-item {% block fichecontrol_selected %}{% endblock %}"><a
                class="changeform-tabs-item-link" href="../fichecontrol/?tarified=no">Control</a>
        </li>

        <li class="changeform-tabs-item {% if cl.get_filters_params.transferer__exact == '0' %}selected{% endif %}"><a
                class="changeform-tabs-item-link" href="../fichetarification/?transferer__exact=0">Tarification</a></li>

        <li class="changeform-tabs-item {% block payement_selected %}{% endblock %}"><a
                class="changeform-tabs-item-link" href="../transferedfichetarification">Paiements</a></li>
        <li class="changeform-tabs-item {% block fournisseur_selected %}{% endblock %}"><a
            class="changeform-tabs-item-link" href="../fournisseur">Fournisseurs</a></li>
    </ul>
    {% block subtab %}
    {% endblock %}
    <div class="tab tab_0 selected">
        {{ block.super }}
    </div>
    <div class="tab tab_1">

    </div>
    <div class="tab tab_2">
    </div>
</div>
{% endblock %}