{% extends "admin/change_list.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/custom_admin.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/commercial_style.css' %}" />
{% endblock %}

{% block content %}
<div id="tabbed-wrapper">
    <ul class="changeform-tabs">
        <li class="changeform-tabs-item {% block stock_selected %}{% endblock %}"><a
                class="changeform-tabs-item-link" href="../lingot">En stock</a>
        </li>

        <li class="changeform-tabs-item {% block fonte_selected %}{% endblock %}{% if cl.get_filters_params.transferer__exact == '0' %}selected{% endif %}"><a
                class="changeform-tabs-item-link" href="../fonte/?etat__exact=out">Fonte</a></li>

        <li class="changeform-tabs-item {% block controlbumigeb_selected %}{% endblock %}"><a
                class="changeform-tabs-item-link" href="../controlbumigeb/?etat__exact=out">Control BUMIGEB</a></li>
        <li class="changeform-tabs-item {% block vente_conclu_selected %}{% endblock %}{% if cl.get_filters_params.vente__conclu__exact == '1' %}selected{% endif %}"><a
            class="changeform-tabs-item-link" href="../lingot/?vente__conclu__exact=1">VENDUS</a></li>
        <li class="changeform-tabs-item {% block transferedlingot_selected %}{% endblock %}"><a
                class="changeform-tabs-item-link" href="../transferedlingot">AUTRES</a></li>
    </ul>
    {% block subtab %}
    {% endblock %}
    <div class="tab tab_0 selected">
        {{ block.super }}
    </div>
    <div class="tab tab_1">

    </div>
    <div class="tab tab_2">
    </div>
</div>
{% endblock %}