{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Ajout convention {% endblock %}

{% comment %} {% load django_bootstrap5 %} {% endcomment %}


{% block main %}



   <div class="container mt-3 w-80">
      
      <form method="POST" class="card p-3 mt-5"  action="{% url 'add_convention' %}" autocomplete="on" enctype="multipart/form-data"> 
            {% csrf_token %}

         {% comment %} {% bootstrap_form form %} {% endcomment %}

         <h5 class="text-center fw-bold text-white bg-secondary">Information sur la zone </h5>
         <div class="row">
            <div class="col-4">{{form.num_ordre|as_crispy_field}}</div>
            <div class="col-4">{{form.nombre_hectare|as_crispy_field}}</div>
            <div class="col-4">{{form.localite|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-12">{{form.type_autorisation|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-3">{{form.region|as_crispy_field}}</div>
            <div class="col-3">{{form.province|as_crispy_field}}</div>
            <div class="col-3">{{form.commune|as_crispy_field}}</div>
            <div class="col-3">{{form.identifiaction|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-12">{{form.demande|as_crispy_field}}</div>
         </div>
         <h5 class="text-center fw-bold text-white bg-secondary">Information du Demandeur </h5>
         <div class="row">
            <div class="col-3">{{form.nom_demandeur|as_crispy_field}}</div>
            <div class="col-3">{{form.localite_demandeur|as_crispy_field}}</div>
            <div class="col-3">{{form.region_demandeur|as_crispy_field}}</div>
            <div class="col-3">{{form.province_demandeur|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-3">{{form.commune_demandeur|as_crispy_field}}</div>
            <div class="col-3">{{form.pays|as_crispy_field}}</div>
            <div class="col-3">{{form.telephone|as_crispy_field}}</div>
            <div class="col-3">{{form.telephone1|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-6">{{form.email|as_crispy_field}}</div>
            <div class="col-6">{{form.site_web|as_crispy_field}}</div>
         </div>
         <h5 class="text-center fw-bold text-white bg-secondary">Information complementaire </h5>
         <div class="row">
            <div class="col-12">{{form.substances|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-6">{{form.docs|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-12">{{form.point|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-12">{{form.pointforme|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-3">{{form.nom_convntion|as_crispy_field}}</div>
            <div class="col-3">{{form.date_depot|as_crispy_field}}</div>
            <div class="col-3">{{form.heure_depot|as_crispy_field}}</div>
            <div class="col-3">{{form.deposant|as_crispy_field}}</div>
         </div>

         <div class="mt-4" style="width: 100p%;">
            <button style= "font-size: 15px;" type="submit" class="btn btn-success mb-3">
            <i class="fas fa-plus"></i>&nbsp;&nbsp; Ajouter
            </button>
            <a style= "font-size: 15px;" href="{% url 'convention' %}" type="button" class="btn btn-outline-danger mb-3 ms-2" style="wdith: 50px;" title="Close">
                  <i class="fas fa-times"></i>
            </a>
         </div> 
          
      </form>
   </div>

{% endblock main %}


{% block srcipts %}

<script>
  $("#id_region").select2({
   placeholder: "selectionner la region",
   allowClear: true
  });
  $("#id_province").select2({
   placeholder: "selectionner la province",
   allowClear: true
  });
</script>
{% endblock srcipts %}