
{% if page_obj4 %}
<table class="table table-striped shadow-lg p-3 mt-3">
    <thead>
      <tr class="bg-success">
        <th scope="col">Id</th>
        <th scope="col">Numero</th>
        <th scope="col">Nom du demandeur</th>
        <th scope="col">Commune</th>
        <th scope="col">Localite</th>
        <th scope="col">Date de depot</th>
        <th scope="col">Status</th>
        <th scope="col">Fichier</th>
      </tr>
    </thead>
    <tbody>
        {% for result in page_obj4 %}
      <tr>
        <td>{{result.id }}</td>
        <td>{{result.num_ordre}}</td>
        <td>{{result.nom_demandeur}}</td>
        <td>{{result.commune}}</td>
        <td>{{result.nom_localite1}}</td>
        <td>{{result.date_depot}}</td>
        {% if result.statut == "convention" %}
        <td class="fw-bold text-success">Signé <i class="fa-solid fa-circle-check"></i>&nbsp;</td>
        {% endif %}
        {% if result.dossiers %}
        <td>
          <a href="{{result.dossiers.url}}" title="lire">
            <i class="fas fa-folder-open text-warning"></i>
        </a>
        </td>
        {% else %}
        <td> <i class="fas fa-close text-danger"></i></td>
        {% endif %}
         {% comment %} 
        <td>
          <a href="" title="modifier">
            <i class="fas fa-folder-open text-warning"></i>
          </a>
          &nbsp;
          <a data-bs-toggle="modal" data-bs-target="#deleteModal{{result.id}}" title="supprimer">
            <i class="fas fa-trash text-danger"></i> 
          </a>
          &nbsp;
          <a data-bs-toggle="modal" data-bs-target="#valideModal{{result.id}}" title="instruire">
            <i class="fas fa-check-circle text-success"></i>
          </a> {% endcomment %}

        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
{% else %}
<H4 class="fw-bold text-success"> <i class="fas fa-warning text-warning"></i> Aucune demande de convention signée ! </H4>
{% endif %}


  <div class="pagination">
    <span class="step-links">
        {% if page_obj4.has_previous %}
            <a href="?page=1">&laquo; debut</a>
            <a href="?page={{ page_obj4.previous_page_number }}">précédent</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj4.number }} of {{ page_obj4.paginator.num_pages }}.
        </span>

        {% if page_obj4.has_next %}
            <a href="?page={{ page_obj4.next_page_number }}">suivant</a>
            <a href="?page={{ page_obj4.paginator.num_pages }}">fin &raquo;</a>
        {% endif %}
    </span>
</div>



