{% extends 'base1.html' %}
{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}
{% load i18n %}
{% load static %}
{% block page_title %}
modifier convention
{% endblock %}

{% block extra_css %}
    <style xmlns="http://www.w3.org/1999/html">
    </style>
    <link rel="stylesheet" type="text/css" href={% static "css/bootstrap.min.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "DataTables/datatables.min.css"%}/>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/brands.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock extra_css  %}


{% block content %}


<div class="container-fluid">
   
      <form method="POST" class="card p-3 mt-5" autocomplete="on" enctype="multipart/form-data"> 
            {% csrf_token %}

         {% comment %} {% bootstrap_form form %} {% endcomment %}

         <h5 class="text-center fw-bold text-white bg-secondary">Information sur la zone </h5>
         <div class="row">
            <div class="col-4">{{form.num_ordre|as_crispy_field}}</div>
            <div class="col-4">{{form.nombre_hectare|as_crispy_field}}</div>
            <div class="col-4">{{form.localite|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-12">{{form.type_autorisation|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-3">{{form.region|as_crispy_field}}</div>
            <div class="col-3">{{form.province|as_crispy_field}}</div>
            <div class="col-3">{{form.commune|as_crispy_field}}</div>
            <div class="col-3">{{form.identifiaction|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-12">{{form.demande|as_crispy_field}}</div>
         </div>
         <h5 class="text-center fw-bold text-white bg-secondary">Information du Demandeur </h5>
         <div class="row">
            <div class="col-3">{{form.nom_demandeur|as_crispy_field}}</div>
            <div class="col-3">{{form.localite_demandeur|as_crispy_field}}</div>
            <div class="col-3">{{form.region_demandeur|as_crispy_field}}</div>
            <div class="col-3">{{form.province_demandeur|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-3">{{form.commune_demandeur|as_crispy_field}}</div>
            <div class="col-3">{{form.pays|as_crispy_field}}</div>
            <div class="col-3">{{form.telephone|as_crispy_field}}</div>
            <div class="col-3">{{form.telephone1|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-6">{{form.email|as_crispy_field}}</div>
            <div class="col-6">{{form.site_web|as_crispy_field}}</div>
         </div>
         <h5 class="text-center fw-bold text-white bg-secondary">Information complementaire </h5>
         <div class="row">
            <div class="col-12">{{form.substances|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-12">{{form.docs|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-12">{{form.point|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-12">{{form.pointforme|as_crispy_field}}</div>
         </div>
         <div class="row">
            <div class="col-3">{{form.nom_convntion|as_crispy_field}}</div>
            <div class="col-3">{{form.date_depot|as_crispy_field}}</div>
            <div class="col-3">{{form.heure_depot|as_crispy_field}}</div>
            <div class="col-3">{{form.deposant|as_crispy_field}}</div>
         </div>

         <div class="mt-4" style="width: 100p%;">
            <button style= "font-size: 15px;" type="submit" class="btn btn-warning mb-3">
            <i class="fas fa-plus"></i>&nbsp;&nbsp; modifier
            </button>
            <a style= "font-size: 15px;" href="{% url 'convention' %}" type="button" class="btn btn-outline-danger mb-3 ms-2" style="wdith: 50px;" title="Close">
                  <i class="fas fa-times"></i>
            </a>
         </div> 
          
      </form>
   </div>

{% endblock content %}


{% block srcipts %}


{% block extra_script %}

<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
<script src="{% static 'select2/dist/js/select2.min.js' %}"></script>
<link href="{% static 'select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css">

<script>
  $("#id_region").select2({
   placeholder: "selectionner la region",
   allowClear: true
  });
  $("#id_province").select2({
   placeholder: "selectionner la province",
   allowClear: true
  });


  $("#id_commune").select2({
    placeholder: "selectionner la Commune",
    allowClear: true
   });


   $("#id_region_demandeur").select2({
      placeholder: "selectionner la region du demandeur",
      allowClear: true
     });


     $("#id_province_demandeur").select2({
      placeholder: "selectionner la province du demandeur",
      allowClear: true
     });
     
</script>

{% endblock extra_script %}


{% endblock srcipts %}