{% extends 'base.html' %}



{% block add %}

<a id="syncLink" href="" title="données du mobile" class="text-decoration-none fw-bold text-success">
  Synchronisation <i class="fa-solid fa-group-arrows-rotate"></i>
</a>


<a href="{% url 'add_convention' %}" class="text-decoration-none fw-bold text-success">
    Ajouter <i class="fa fa-plus text-success"></i>
 </a>

{% endblock add %}


{% block main %}



<div id='slide_menu'>
    <div class="container mt-3">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#types" role="tab" aria-controls="home" aria-selected="true">Demande </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#emplacement" role="tab" aria-controls="profile" aria-selected="false">Instruction</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="status-tab" data-bs-toggle="tab" href="#status" role="tab" aria-controls="result" aria-selected="false">Signature</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="valid-tab" data-bs-toggle="tab" href="#valid" role="tab" aria-controls="valid" aria-selected="false">Signés</a>
          </li>
        </ul>
    
        <div class="tab-content  mt-2" id="myTabContent">
            <div class="tab-pane fade show active" id="types" role="tabpanel" aria-labelledby="home-tab">
               {% include "technique/convention/convention.html" %}
            </div>
            <div class="tab-pane fade" id="emplacement" role="tabpanel" aria-labelledby="profile-tab">
                {% include "technique/convention/convention.html" %}
            </div>
            <div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-tab">
                {% include "technique/convention/convention.html" %}
            </div>

            <div class="tab-pane fade" id="valid" role="tabpanel" aria-labelledby="valid-tab">
                {% include "technique/convention/convention.html" %}
            </div>

        </div>
      </div>
    
</div>

{% for message in messages %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if message.tags == 'error' %}
    <script>
        var m = "{{ message }}";
          swal("Denied !", "Enter your data correctly.", "error")
    </script>
          {% elif message.tags == 'success' %}
    <script>
          var m = "{{ message }}";
          swal("success !", m, "success")
    </script>
{% endif %}   
{% endfor%}

{% endblock main %}
