
<!-- Modal -->
<div class="modal fade" id="valideModal{{result.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="valideModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <h1 class="modal-title fs-5" id="valideModalLabel">Fiche de convention Numero : {{result.num_ordre}}  </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body"> 
            <h4 class="modal-title fs-5 text-danger" id="valideModalLabel"> Voulez vous appliquer? </h4>
         </div>
        <div class="modal-footer">
         <a href="{% url 'instruire'  result.id %}" class="btn btn-outline-danger btn-sm btn-modal">Valider</a>
        </div>
      </div>
    </div>
  </div>
 
 
       
 
 
 