{% extends 'base.html' %}



{% block main %}

{% if data %}

<h4 class="text-center text-capitalize text-info mt-2">Cours de l'or  selon or.fr </h4>

    <div class="container-fluid">
        <div class="row d-flex flex-grow-0 justify-content-center">
            {% for row in data %}
            <div class="col-3">
                <div class="card border-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{row.Devise}}</div>
                    <div class="card-body text-warning">
                    <h5 class="card-title">Variation : {{row.Performance}}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>  



<table class="table shadow-lg p-3 mt-3">
    <thead>
        <tr class="bg-success">
            <th>Devise</th>
            <th>Cours en once (1once = 31,1g)</th>
            <th>Cours en K ilogramme</th>
            <th>Cours1 en gramme</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        
        <tr>
            <td>{{row.Devise}}</td>
            <td>{{ row.once}}</td>  
            <td>{{ row.kilogramme}}</td>  
            <td>{{ row.gramme}}</td> 
        <tr>
            
        {% endfor %}
    </tbody>
</table>

            {% else %}
            <h4 class="text-center text-capitalize text-info mt-2">pas de données veuillez verifier le réseaux...</h4>

            {% endif %}



{% endblock main %}

