{% extends 'base.html' %}



{% block add %}

<a id="syncLink" href="{% url 'api_prelevement' %}" title="données du mobile" class="text-decoration-none fw-bold text-success">
  Synchronisation <i class="fa-solid fa-group-arrows-rotate"></i>
</a>


<a href="{% url 'add' %}" class="text-decoration-none fw-bold text-success">
    Ajouter <i class="fa fa-plus text-success"></i>
 </a>

{% endblock add %}




{% block main %}



<table class="table table-striped shadow-lg p-3 mt-3">
    <thead>
      <tr class="bg-success">
        <th scope="col">Id</th>
        <th scope="col">Date prelevement</th>
        <th scope="col">Commune</th>
        <th scope="col">Point de premevement</th>
        <th scope="col">Motif</th>
        <th scope="col">Quantité</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
        {% for result in page_obj %}
      <tr>
        <td>{{result.id }}</td>
        <td>{{result.date_prelevement}}</td>
        <td>{{result.commune}}</td>
        <td>{{result.point_prelevement}}</td>
        <td>{{result.motif}}</td>
        <td>{{result.quantite}}</td>
        <td>
          <a href="{% url 'edit' result.id %}" title="modifier">
            <i class="fas fa-pen text-warning"></i> 
          </a>

          <a data-bs-toggle="modal" data-bs-target="#deleteModal{{result.id}}" title="supprimer">
            <i class="fas fa-trash text-danger"></i> 
          </a>

          <a data-bs-toggle="modal" data-bs-target="#staticBackdrop{{result.id}}" title="detail">
            <i class="fas fa-eye text-success"></i> 
          </a>

        </td>
      </tr>

      {% include 'environnement/prelevement/detail.html' %}
      {% include 'environnement/prelevement/delete.html' %}
      {% endfor %}
    </tbody>
  </table>



  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; debut</a>
            <a href="?page={{ page_obj.previous_page_number }}">précédent</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">suivant</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">fin &raquo;</a>
        {% endif %}
    </span>
</div>






{% for message in messages %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if message.tags == 'error' %}
    <script>
        var m = "{{ message }}";
          swal("Denied !", "Enter your data correctly.", "error")
    </script>
          {% elif message.tags == 'success' %}
    <script>
          var m = "{{ message }}";
          swal("Perfect !", m, "success")
    </script>
{% endif %}   
{% endfor%}


{% endblock main %}
