
<!-- Modal -->
<div class="modal fade" id="analyseModal{{result.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="analyseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-success text-white">
          <h4 class="modal-title fs-5" id="analyseModalLabel"><i class="fa fa-eye"></i> Interpreation</h4>
          <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          Zone saine 
          
        </div>
        
      </div>
    </div>
  </div>