{% extends 'base.html' %}

{% block title %}Acceuil{% endblock %}


{% block main %} 



<div class="shadow-lg p-3 mb-5 bg-body rounded">
      <a  class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#biModal{{result.id}}" title="voir">
            <i class="fa-solid fa-chart-simple"></i>
            Rapport d'incident
      </a>

    
</div>
<div class="shadow-lg p-3 mb-5 bg-body rounded">
      <a  class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#biModal{{result.id}}" title="voir">
            <i class="fa-solid fa-chart-simple"></i>
            Rapport d'incident
      </a>

    
</div>

<div class="shadow-lg p-3 mb-5 bg-body rounded">
      <a  class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#biModal{{result.id}}" title="voir">
            <i class="fa-solid fa-chart-simple"></i>
            Rapport d'incident
      </a>

    
</div>

<div class="shadow-lg p-3 mb-5 bg-body rounded">
      <a  class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#biModal{{result.id}}" title="voir">
            <i class="fa-solid fa-chart-simple"></i>
            Rapport d'incident
      </a>

    
</div>




 {% include "authentication/bi/bi_tech.html" %}
{% endblock main %}





