

<div class="modal fade" id="biModal{{result.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="biModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-success text-white">
          <h4 class="modal-title fs-5" id="biModallLabel"><i class="fa fa-map"></i> </h4>
          <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
      
            <div class="container d-flex flex-column mb-2">
  
                <div class="row mb-2">
                     
                  </div>
                  <div class="row mb-2">
                      <div class="ms-1">
                          <form method="get" action="{% url 'bi' %}">
                              <label for="" class="form-label font-italic font-weight-bold text-success">du</label>
                              <input type="date" value="{{date_depart}}"name="date_depart" id="date_depart" class="text-success font-italic font-weight-bold">
                              <label for="" class="form-label font-italic font-weight-bold text-success">au</label>
                              <input type="date" value="{{date_arrive}}" name="date_arrive" id="date_arrive" class="text-success font-italic font-weight-bold">
                              &nbsp;  &nbsp;
                              <button type="submit" id="submit"><i class="fa fa-search"></i></button>
                              &nbsp;  &nbsp;
                              <a href="{% url 'bi' %}?reset"><i class="fa fa-refresh"></i></a>
                           </form>
                      </div>
                  </div>
          
                <div class="row ms-2" id="acceuil_bg">
                      {% if chart %}
                            <img src="data:image/png;base64, {{chart|safe}}"></i> 
          
                      {% endif %}
                </div>
          </div>          

        </div>
      </div>
    </div>
  </div>










