{% extends 'base.html' %}



{% block add %}
<h4>

 
<a id="syncLink" href="{% url 'api_rapport' %}" title="données du mobile" class="text-decoration-none fw-bold text-success">
  <i class="fa-solid fa-group-arrows-rotate"></i>
</a>


<a href="{% url 'add_rapport' %}" class="text-decoration-none fw-bold text-success">
    <i class="fa fa-plus-circle text-success"></i>
 </a>
 
</H4>
{% endblock add %}




{% block main %}



<table class="table table-striped shadow-lg p-3 mt-3">
    <thead>
      <tr class="bg-success">
        <th scope="col">Id</th>
        <th scope="col">Bureau</th>
        <th scope="col">Site visités</th>
        <th scope="col">nbr de nouveau site</th>
        <th scope="col">nbr de site fermés</th>
        <th scope="col">nbr de reactivé</th>
        <th scope="col">nbr de rehabilité</th>
        <th scope="col"><i class="fas fa-pen text-warning"></i></th>
        <th scope="col"> <i class="fas fa-trash text-danger"></i></th>
      </tr>
    </thead>
    <tbody>
        {% for result in page_obj %}
      <tr>
        <td>{{result.id }}</td>
        <td>{{result.burencadrement_id}}</td>
        <td>{{result.nbr_site}}</td>
        <td>{{result.nouveau_site}}</td>
        <td>{{result.site_ferme}}</td>
        <td>{{result.site_reactive}}</td>
        <td>{{result.site_rehabilite}}</td>
        <td>
          <a href="{% url 'edit_rapport' result.id %}" title="modifier">
            <i class="fas fa-pen text-warning"></i>
          </a>
        </td>
        <td>

          <a data-bs-toggle="modal" data-bs-target="#deleteModal{{result.id}}" title="supprimer">
            <i class="fas fa-trash text-danger"></i> 
          </a>

        </td>
      </tr>

      {% include 'technique/rapport/detele.html' %}
      
      
      {% endfor %}
    </tbody>
  </table>



  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; debut</a>
            <a href="?page={{ page_obj.previous_page_number }}">précédent</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">suivant</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">fin &raquo;</a>
        {% endif %}
    </span>
</div>






{% for message in messages %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if message.tags == 'error' %}
    <script>
        var m = "{{ message }}";
          swal("Refusé !", m, "error")
    </script>
          {% elif message.tags == 'success' %}
    <script>
          var m = "{{ message }}";
          swal("success !", m, "success")
    </script>
{% endif %}   
{% endfor%}


{% endblock main %}
