{% extends 'base.html' %}



{% block add %}

<a href="" title="données du mobile" class="text-decoration-none fw-bold text-success">
  Synchronisation <i class="fa-solid fa-group-arrows-rotate"></i>
</a>

{% endblock add %}




{% block main %}



<table class="table table-striped shadow-lg p-3 mt-3">
    <thead>
      <tr class="bg-success">
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Localite</th>
        <th scope="col">ref_piece</th>
        <th scope="col">Enrolé le</th>
        <th scope="col">BE</th>
        <th scope="col">
          action &nbsp;
          
        </th>
      </tr>
    </thead>
    <tbody>
        {% for result in page_obj %}
      <tr>
        <td>{{ result.id }}</td>
        <td>{{result.nom}}</td>
        <td>{{result.prenom}}</td>
        <td>{{result.localite}}</td>
        <td>{{result.ref_piece}}</td>
        <td>{{result.date}}</td>
        {% if result.submitted_by %}
        <td>{{result.submitted_by}}</td>
        {% else %}
        <td><i class="fa-brands fa-discord"></i></td>
        {% endif %}
        <td>
          
          <a href="{% url 'syn' result.id %}" title="validé">
            <i class="fas fa-check-circle text-danger"></i>
          </a>
          &nbsp;

          <a data-bs-toggle="modal" data-bs-target="#staticBackdrop{{result.id}}">
            <i class="fas fa-eye text-secondary"></i>
          </a>

        </td>
      </tr>

      {% include 'technique/enrolement/detail.html' %}
      {% endfor %}
    </tbody>
  </table>



  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; debut</a>
            <a href="?page={{ page_obj.previous_page_number }}">précédent</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">suivant</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">fin &raquo;</a>
        {% endif %}
    </span>
</div>



{% endblock main %}
