<div class="row">
    <div class="col-4">{{form.prenom}}</div>
    <div class="col-4">{{form.type_carte}}</div>
    <div class="col-4">{{form.date}}</div>
 </div>


 <div class="row">
    <div class="col-4">{{form.localite}}</div>
    <div class="col-4">{{form.telephone}}</div>
    <div class="col-4">{{form.telephone2}}</div>
 </div>

 <div class="row">
    <div class="col-4">{{form.quittance}}</div>
    <div class="col-4">{{form.engagement}}</div>
    <div class="col-4">{{form.num_carte}}</div>

</div>



<div class="row">
    <div class="col-6">{{form.observation}}</div>
    <div class="col-6">{{form.ref_piece}}</div>
</div>
