{% extends 'base1.html' %}
{% load i18n %}
{% load static %}
{% block page_title %}
  enrolement
{% endblock page_title %}


{% block content %}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Detail data api enrolment</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">api data detail</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
        <div class="card"> 
            <div class="row">
               <div class="col-6">
                  <div class="input-group mb-1">
                     <span class="input-group-text" id="inputGroupPrepend2">Nom</span>
                     <input type="email" value="{{result.nom}}" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                  </div>
                  <div class="input-group mb-1">
                     <span class="input-group-text" id="inputGroupPrepend2">Prenom</span>
                     <input type="email" value="{{result.prenom}}" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                  </div>
                  <div class="input-group mb-1">
                     <span class="input-group-text" id="inputGroupPrepend2">Carte</span>
                     <input type="email" value="{{result.type_carte}}" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                  </div>
                  <div class="input-group mb-1">
                     <span class="input-group-text" id="inputGroupPrepend2">Date</span>
                     <input type="email" value="{{result.date}}" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                  </div>
                  <div class="input-group mb-1">
                     <span class="input-group-text" id="inputGroupPrepend2">Localité</span>
                     <input type="email" value="{{result.localite}}" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                  </div>
               </div>
               <div class="col-6">
                  <div class="input-group mb-1">
                     <span class="input-group-text" id="inputGroupPrepend2">Tel</span>
                     <input type="email" value="{{result.telephone}}" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                  </div>
                  <div class="input-group  mb-1">
                     <span class="input-group-text" id="inputGroupPrepend2">Tel 2</span>
                     <input type="email" value="{{result.telephone2}}" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                  </div>
                  <div class="input-group  mb-1">
                     <span class="input-group-text" id="inputGroupPrepend2">Quitance</span>
                     <input type="email" value="{{result.quittance}}" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                  </div>
                  <div class="input-group  mb-1">
                     <span class="input-group-text" id="inputGroupPrepend2">Engament</span>
                     <input type="email" value="{{result.engagement}}" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                  </div>
                  <div class="input-group  mb-1">
                     <span class="input-group-text" id="inputGroupPrepend2">Num carte</span>
                     <input type="email" value="{{result.num_carte}}" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-6">
                  <div class="input-group  mb-1">
                     <span class="input-group-text" id="inputGroupPrepend2">Obervation</span>
                     <input type="email" value="{{result.observation}}" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                  </div>
               </div>
               <div class="col-6">
                  <div class="input-group  mb-1">
                     <span class="input-group-text" id="inputGroupPrepend2">CNIB/Passeport</span>
                     <input type="email" value="{{result.ref_piece}}" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled>
                  </div>
               </div>
            </div>
        </div>
        <a class="btn btn-success" href="{% url 'syn' result.identifiant %}" title="validé">
            <i class="fas fa-check-circle"></i>
        </a>
        <a class="btn btn-warning" href="{% url 'api_enrolement' %}" title="validé">
            <i class="fas fa-close"></i>
        </a>
</div>


{% endblock content %}
